body{background-image: url(../Imagenes/estados.webp);}
h1, h2{text-align: center; background-color: brown; border: solid lightblue;}
ul{border: 20px blue; padding: 20px; margin: 20px}
.Lista{color: black; font-size: 35px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
head{font-size: 35px;}


