.resumen2{border: 50px outset peru; padding: 30px; margin: 30px red; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{background-color: skyblue;}
.cabeza{text-align: center; border: 20px solid red; margin: 20px;}
.Imagen{text-align: center; border: 30px outset peru; margin: 20px 10px 20px 10px; padding: 5px;}




