h1{border: 20px solid black; margin: 20px; padding: 20px;}
h2{ border: 10px solid black;color: darkcyan;}
p{border: solid 5px; color: lightgrey; font-size: 20px;}
body{background-image: url(../Imagenes/error..webp);}
body{text-align: center;}

